[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
"psycopg2" = "*"
django-environ = "*"
raven = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
django-autoslug-iplweb = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
mixer = "*"
django-cors-headers = "*"
babel = "*"

[dev-packages]

[requires]
python_version = "3.6"
