<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Personal Finances</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/auth/logout" *ngIf="isAuthenticated">
        Logout
      </a>
      <a class="nav-item nav-link" href="https://github.com/pwall27" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="mailto:patrick.pwall@gmail.com" target="_blank">
        <i class="fa fa-mail-forward"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/rodriguespatrick/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
