<h2>Transactions List</h2>
<hr>
<div class="mb-3 float-right">
  <a class="btn btn-primary " routerLink="/transactions/create">Register new</a>
</div>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th scope="col" style="cursor: pointer;" (click)="toggleOrdering('description')">Description</th>
    <th scope="col" style="cursor: pointer;" (click)="toggleOrdering('amount')">Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions"
      [ngClass]="{
        'table-danger': transaction.transaction_type == 'expense',
        'table-success': transaction.transaction_type == 'earning'
      }">
    <td>{{ transaction.description }}</td>
    <td>{{ transaction.amount }}</td>
  </tr>
  </tbody>
</table>
